@import url('normalize.css');
/*
Notes:
Style design BenjaminVandersteen@gmail.com Aug 2013
vm + vmin included for cross browser compatability (looking at you IE)
Page should scale to browser size, especially when vh vmin vmax (viewport size) is adopted by all
*/


/*Generic*/
* {
    /*font-family: "Avantgarde";*/
    /*font-family: "Arial";*/
    /*font-family: "Symbol Arial Avantgarde";*/
    font-family: 'pt_sansregular';
/*, Arial, sans-serif;*/
    font-size: 14pt;
}


/*Body*/
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    background: center center fixed ;
    background-size: 100%;
}


/*TextDefs*/
h1 {

}

h2 {
    text-transform:uppercase;
    font-weight:normal;
    font-size: 500px;
    font-size: 7vmin
    margin-bottom:10px;
    margin-bottom: 1vh;
    position: relative;
}

h2.mid {
    margin-bottom:10px;
    margin-bottom: 1vh;
        }

h3 {
    margin-top:10px;
    margin-top: 1vh;
    font-weight:normal;
    font-size: 22px;
    font-size: 2.5vmin;
}

h4 {
    margin-top:10px;
    margin-top: 1vh;
    font-weight:normal;
    font-size: 18px;
    font-size: 2.2vmin;
}

h5 {
    font-weight:normal;
}

/*links*/
a {
    color: black;
    text-decoration: none;
    border:0;
    padding-top: 0;
    page-break-before: avoid;
    vertical-align: top;
}

/*DONE*/
/*menus*/
div.menu{
    background-color: white;
    border: 1px solid black;
    position: relative;
    top: -70px;
    top: -5vw;
    left: 10px;
    left: 0.5vw;
    width: 510px;
    width: 30vw;
    height: 33px;
    height: 1.8vw;
    display: block;
}
/*DONE*/
div.menuspacer{
    padding-top: 2px;
    padding-top: 0.1vw;
}

div.menuitem{
    float:left;
}
/*DONE*/
div.topmenuitem{
    font-size: 22px;
    font-size: 1.2vw;
    text-align: center;
}
div.topmenuitem:hover{
    font-size: 24px;
    font-size: 1.25vw;
}


/*logos*/
img.logo{
    max-width:100%;
    max-height:100%;
}
div.logo{
    position: relative;
    width: 750px;
    width: 45vw;
    height: auto;
}



/* Divs */

div.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container{
    position: relative;
    background-color: white;
    border: 1px solid black;
    height: auto;
    }

div.infocontainer{
    width: 750px;
    width: 45vw;
    overflow: auto;
}

div.center_under{
    position: relative;
    /*text-align: center;*/
    width: 100%;
    display: table;
    table-layout: fixed;
}

div.center_bottom{
    position: absolute;
    width: inherit;
    text-align: center;
}

div.bottom{
    width: 50%;
    margin:0 auto;
    text-align: center;
}

/*footer*/
footer {
    display: block;
    position:fixed;
    width: 100%;
    width: 100vw;
    bottom:0px;
    margin-left: auto;
    margin-right: auto;
}

/* Social Media Icons */
/*SocMed */

img.socMed {
    width: 65px ;
    height: auto;
}
img.socMed:hover {
    opacity:0.8;
}

img.socMedVert {
    width: 65px;
    width: 4vw;
    height: auto;
}

/* Generic Helpers */
.capitalize{
    text-transform:capitalize;
    }

.center_text{
    text-align:center;
}

/*images*/

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img.toucan{
    margin-bottom: 0px;
}

img.agcb{
    position: relative;
    top: -200px;
    left: -95px;
    width: 600px;
    height: 39px;
}

/*jcoverflip */
.ui-jcoverflip {
    position: relative;
    }

.ui-jcoverflip--item {
    position: absolute;
    display: block;
    }



