{% load static %}
<!--<!DOCTYPE html>-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="/static/fonts/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="shortcut icon" href="/static/img/LlamaFavicon.png" />
    <link rel="icon" type="image/png" href="/static/img/LlamaFavicon.png" />

    <link rel="stylesheet" type="text/css" href="/static/gallery/gallery.css" />
    <title>mcindoedesign{% block apptitle %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}gallery, collection, images, clothing, designs, prints, patterns{% endblock %}">
    <meta name="description" content="{% block description %}Gallery exhibiting clothing collection by McindoeDesign{% endblock %}">


</head>

<body style="background-image:url( /static/img/wotrans.gif )">

    <div class="logo center">
        <a href="http://mcindoedesign.com">

            <img class="center toucan logo" src="/static/img/logo.png" alt='logo'  />
        </a>
        <div class="menu">
            <div class="menuspacer">
                <div class="menuitem" style='width:20%'>
                    <a href="/about">
                        <div class="topmenuitem">
                            ABOUT
                        </div>
                    </a>
                </div>
                <div class="menuitem" style='width:35%'>
                    <a href="/collection">
                        <div class="topmenuitem">
                            COLLECTION
                        </div>
                    </a>
                </div>
                <div class="menuitem" style='width:21%'>
                    <a href="/press">
                        <div class="topmenuitem">
                            PRESS
                        </div>
                    </a>
                </div>
                <div class="menuitem" style='width:20%'>
                    <a href="/contact">
                        <div class="topmenuitem">
                            CONTACT
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="container infocontainer center">
        {% block content %}



        {% endblock %}

        <div id="SocMed" class="center_under">
            {% for i in social_media %}
                <a href="{{ i.url }}" name="{{ i.name }}" target="_blank" style="display: table-cell;padding-left: 50px;">
                    <img src="/{{ i.image.url  }}"/>
                </a>
            {% endfor %}
        </div>
    </div>

    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script> <!-- CDN-->
    <script type='text/javascript' src="/static/scripts.js"></script>
</body>

<!--Social media icon set from http://www.brainleaf.eu/-->
<!--Page design benjaminfvandersteen@gmail.com Aug 2013-->
</html>
